body {
    background: #85b5eb
}

#coruja {
    text-align: center;
}

.origem {
    background-color:rgb(36, 149, 255)
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

#motivo{
    font-size: 20px
}

em strong {
    color: #a45ae0;
}

.Benefícios {
    font-style: italic;
}

.BENE {
    background: #85b5eb
}

h2 {
    text-align: center;
}