body {
    background: #85b5eb
}

#coruja {
    text-align: center;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

#motivo{
    font-size: 20px
}


em strong {
    color: #a45ae0;
}